.compra{
  align-items: center;
  background-color: antiquewhite;
  border-radius: 1rem;
  padding: 3rem;  
}
.ordenCompra {
    width: 200px;
    border-bottom: solid 2px rgb(156, 38, 111);
    border-radius: 10px;
    padding: 5px;
}
.itemCompra {
      margin-top: 5px;
    }
  
.pagoCompra {

    width: 200px;
    
    border-radius: 10px;
    padding: 5px;
}
.pagoCard {
      margin-top: 3rem;
}
.div-button{
  margin-top: 1rem;
  text-align: right;
}
button {
        margin-top: 2rem;
        font-size: 15px;
        border: solid;
        border-color: rgb(179, 23, 171);
        padding:.5rem 1rem;
        border-radius: 1rem;
     
}
