.div-itemdetail{
  text-align: center;
  border-color: #000;
  border-width: 0.5rem;
  border-style:groove;
  border-radius: 2rem;
  width: 40%;
  margin-left: 20%;
  margin-right: 20%;
}

.item-detail {
  background-color: rgb(230, 66, 178);
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  
}
.item-detail2 {
  background-color: rgb(230, 66, 178);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1.5rem;
  padding: 2rem;
  
}
.item-detail img {
  width: 80%;
  margin: 1rem;
}
.detalle {
    display: flex;
    flex-direction: column;
  
    align-items: center;


}
.detalle button {
      color: #000;
      border: none;
      padding: 5px;
    
}
.div-count{
  margin: 2rem 0;
}
.div-saldo{
  margin: 2rem;
}
@media (max-width: 520px) {
    .item-detail {
        flex-direction: column;
    }
    .detalle {
      margin-left: 0;
    }
  }
@media (max-width: 320px) {
  .item-detail img {
      width: 100%;
      height: auto;
    }
  .detalle {
      height: 150px;
    }
}
