.login.modal {
    width: 300px;
    height: 100px;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    background-color: #545454;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    transition: ease-in-out 0.25s;
    z-index: 2;
}
.login.modal.sign {
      margin-top: 10px;
      border: none;
      background-color: transparent;
      padding: 5px;
      border-radius: 5px;
      text-decoration: none;

}
.login.modal.close {
      background-color: transparent;
      padding: 5px;
      border: none;
      position: absolute;
      top: 0;
      right: 0;

}